body{
    background-color: #eaeded;
}

.homebanner{
    width: 100%;
}
.home{
    
    margin-left: auto!important;
    margin-right: auto;
    max-width: 100%;
}
.home_row{
    display: flex;
   flex-wrap:row wrap;
    justify-content: center;
    width: 1500px!important;
    margin: auto;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;

}